*{
    padding: 0;
    margin:0;
    
}
body{
    background-color: #bfc4c0;
}
header{
    height:15vh;
    background-color: #F4CE14;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 1px #020201 ;    
}
h1{
    font-family: "Raleway", serif;
    color:#45474B;
    font-size: 30pt;
}
.inputbox{
    background-color: #F4CE14;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    height: 38px;
    background-color: #F4CE14;
    border: none;
    font-size: 25px;
    color:#45474B;
    outline: none;
    font-family: "Raleway", serif;;
}
input::placeholder{
    color:rgba(0, 4, 7, 0.322);
    font-family: "Raleway", serif;
    font-size: 20px;
}
.add-button{
    background-color:rgba(255, 0, 0, 0);
    border: none;
    fill:#379777;
    transition: all 0.5s ease;
}
.add-button:hover{
    cursor: pointer;
    fill:#43b18c;
}

.tasks{
    display: flex;
    flex-wrap: wrap;
    height:100%;
    gap:40px;
    padding:20px;
}
.task{
    height:max-content;
    width:300px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow:0px 0px 5px rgb(116, 115, 115) ;
    background-color: aliceblue;
}
.text{
    background-color: aliceblue;
    height: max-content;
    font-size:35px;
    padding:15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px 0px 2px white;
    font-family: "Poiret One", serif;
    font-weight: 600;
}
.Buttons{
    height:30px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:10px;
    background-color: #F4CE14;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    
}
.but{
    fill: rgba(0, 0, 0, 0.288);
    height: 20px;
    transition: all 0.5s ease;
}
.but:hover{
    cursor:pointer;
    fill: rgba(26, 25, 25, 0.288);
}

